
<div class="bootcards-list">
  <div class="panel panel-default">
    <div class="list-group">
      <div ng-repeat="row in names">
        <div class="list-group-item">
          <div class="row">
            <div class="col-sm-6">
              <i class="fa fa-3x fa-building-o pull-left"></i>
              <h4 class="list-group-item-heading">Jay</h4>
              <p class="list-group-item-text">{{ row.Name + ', ' + row.Country }}</p>
            </div>
            <div class="col-sm-6">
              <p class="list-group-item-text">Supplier</p>
              <p class="list-group-item-text">$1.3m Revenue YTD</p>
            </div>
          </div>
          <hr/>
        </div>
      </div>
  </div >
  </div>
</div>
